*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
.container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 200vh;
}
header {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: blue;
    align-items: center;
    position: fixed;
    width: 100%;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
header nav ul li {
    padding: 5px;
    background-color: aqua;
    border-radius: 10px;
}
header nav ul li a{
    color: brown;
    text-decoration: none;
}
header nav ul li:hover{
    background-color: red;
}
.container-content{
    width: 90%;
    margin: auto;
}
#home{
    padding-top: 500px;
}
#home.galeri {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
#home.galeri.img {
    width: 30px;
}
.text-center{
    text-align: center;
}
#tentang-saya {
    height: 600px;
    padding-top: 50px;
}
.card{
    display: flex;
    gap:  5px;
    width: 400px;
    margin: auto;
}
.card-img img{
    width: 200px;
}
#kontak-saya{
    height: 600px;
    padding-top: 50px;
}
footer{
    text-align: center;
}